/Interfaz_corredores/nbproject/private/
/Corredores_consola/nbproject/private/
/Corredores_consola/build/
/Corredores_interfaz/nbproject/private/
/Corredores_interfaz/build/
/CosasChachis/build/
/PruebaFicheroObjetos/nbproject/private/
/Utilities/nbproject/private/
/Utilities/dist/
/Utilities/build/
/PruebaFicheroObjetos/build/
/Corredores_interfaz/dist/
/Validar_libreria/build/
/Validar_libreria/nbproject/private/
/MyValidator/build/
/MyValidator/dist/
/Componentes/nbproject/private/
/Componentes/build/
/Componentes/dist/
/CosasChachis/nbproject/private/
/Beans/BotonMorse/nbproject/private/
/Beans/BotonMorse/build/
/Beans/BotonMorse/dist/
/Beans/Pizza/nbproject/private/
/Beans/Pizza/build/
/Beans/PSPeval1A_SilviaLeon/nbproject/private/